# commands to run
FACTS={"kernel": "uname -rs", "host": "hostname"}

# local path to openssh key
SSH_KEY_PATH=~/.ssh/id_rsa

# ssh users to connect as
USERS=ec2-user,centos

# timeouts and concurrency
MAX_SESSIONS=100
TIMEOUT=5
